@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right nav-link padding-for-partials" }))
    {
        @Html.AntiForgeryToken()

        <ul class="nav navbar-nav">
            <li>
                @Html.ActionLink("Hello, " + User.Identity.GetUserName(), "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage", @class="nav-link white-text navlinks-size" })
            </li>
            <li><a href="javascript:document.getElementById('logoutForm').submit()" class="nav-link white-text navlinks-size">Log off</a></li>
        </ul>
    }
}
else
{
    <ul class="nav navbar-nav navbar-right padding-for-partials">
        <li class="remove-bg">@Html.ActionLink("Register", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink", @class = "white-text nav-link navlinks-size" })</li>
        <li>@Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink", @class = "white-text nav-link  navlinks-size" })</li>
    </ul>
}
